<h1>Listing Scores</h1>
 
<table>
  <tr>
    <th>Player</th>
    <th>Total</th>   
    <th>Week_2</th>   
    <th>Week_3</th>   
    <th>Week_4</th>   
    <th>Week_5</th>   
    <th>Week_6</th>   
    <th>Week_7</th>   
    <th>Week_8</th>   
    <th>Week_9</th>   
    <th>Week_10</th>   
  </tr>
 
  <% @scores.each do |score| %>
    <tr>
      <td><%= score.player %></td>
      <td><%= score.total %></td>
      <td><%= score.week_2 %></td>
      <td><%= score.week_3 %></td>
      <td><%= score.week_4 %></td>
      <td><%= score.week_5 %></td>
      <td><%= score.week_6 %></td>
      <td><%= score.week_7 %></td>
      <td><%= score.week_8 %></td>
      <td><%= score.week_9 %></td>
      <td><%= score.week_10 %></td>
    </tr>
  <% end %>
</table>