<h1>Picks</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Week</th>
    <th>Rose</th>
    <th>Tears</th>    
  </tr>
 
  <% @picks.each do |pick| %>
    <tr>
      <td><%= pick.player %></td>
      <td><%= pick.week %></td>
      <td><%= pick.rose %></td>
      <td><%= pick.tears %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', controller: 'welcome' %>