<h2 class='User_Header'>New <%=@current_user.username%> Pick <h2>

<%= form_for :pick, url: picks_path do |f| %>
  
  <%= f.hidden_field :player, :value => @current_user.username %> 

  <%= f.hidden_field :week, :value => '6' %> 


  <p>
    <%= f.label "Rose" %><br>
    <%= f.select :rose, [['Jordan'],['Luke'],['Wells'],['James T.'],['Derek'],['Chase'],['Alex'],['Robby']]  %>
  </p>

  <p>
    <%= f.label "Tears" %><br>
    <%= f.select :tears, [['Jordan'],['Luke'],['Wells'],['James T.'],['Derek'],['Chase'],['Alex'],['Robby']]   %>
  </p>

<!--   <p>
    <%= f.label "Next Bachelorette" %><br>
    <%= f.select :bachelorette, [['Olivia','Olivia'],['Lauren B.','Lauren B.'],['LB','LB'],['Caila', 'Caila'],['Amber','Amber'],['Jami','Jami'],['Jennifer','Jennifer'],['Jubilee','Jubilee'],['Amanda','Amanda'],['JoJo','JoJo'],['Leah','Leah'],['Rachel','Rachel'],['Samantha','Samantha'],['Jackie','Jackie'], ['Haley','Haley'],['Emily','Emily'],['Shushanna','Shushanna'],['Lauren H.','Lauren H.'],['Becca','Becca'],['Mandi', 'Mandi'],['Lace','Lace']]    %>
  </p> -->

  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>