<h2 class='User_Header'>New <%=@current_user.username%> Pick <h2>

<%= form_for :pick, url: picks_path do |f| %>
  
  <%= f.hidden_field :player, :value => @current_user.username %> 

  <%= f.hidden_field :week, :value => '5' %> 


  <p>
    <%= f.label "Rose" %><br>
    <%= f.select :rose, [['Rachel'],['Vanessa'],['Danielle L.'],['Astrid'],['Corinne'],['Jasmine G.'],['Raven'],['Kristina'],['Danielle M.'],['Sarah'],['Josephine'],['Taylor'],['Alexis'],['Whitney'],['Jaimi']]  %>
  </p>

  <p>
    <%= f.label "Tears" %><br>
    <%= f.select :tears, [['Rachel'],['Vanessa'],['Danielle L.'],['Astrid'],['Corinne'],['Jasmine G.'],['Raven'],['Kristina'],['Danielle M.'],['Sarah'],['Josephine'],['Taylor'],['Alexis'],['Whitney'],['Jaimi']]  %>
  </p>
<!-- 
  <p>
    <%= f.label "Next Bachelor" %><br>
    <%= f.select :bachelorette, [['Jordan'],['Luke'],['Wells'],['James T.'],['Grant'],['Derek'],['Christian'],['Chad'],['Chase'],['Alex'],['Robby'],['Brandon'],['James F.'],['Ali'],['Nick B.'],['Will'],['James S.'],['Vinny'],['Evan'],['Daniel']]  %>
  </p> -->

  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>