<h2 class='User_Header'>New <%=@current_user.username%> Pick <h2>

<%= form_for :pick, url: picks_path do |f| %>
  
  <%= f.hidden_field :player, :value => @current_user.username %> 

  <%= f.hidden_field :week, :value => '4' %> 


  <p>
    <%= f.label "Rose" %><br>
    <%= f.select :rose, [['Olivia','Olivia'],['Lauren B.','Lauren B.'],['Caila', 'Caila'],['Amber','Amber'],['Jennifer','Jennifer'],['Jubilee','Jubilee'],['Amanda','Amanda'],['JoJo','JoJo'],['Leah','Leah'],['Rachel','Rachel'],['Haley','Haley'],['Emily','Emily'],['Lauren H.','Lauren H.'],['Becca','Becca']]  %>
  </p>

  <p>
    <%= f.label "Tears" %><br>
    <%= f.select :tears, [['Olivia','Olivia'],['Lauren B.','Lauren B.'],['Caila', 'Caila'],['Amber','Amber'],['Jennifer','Jennifer'],['Jubilee','Jubilee'],['Amanda','Amanda'],['JoJo','JoJo'],['Leah','Leah'],['Rachel','Rachel'],['Haley','Haley'],['Emily','Emily'],['Lauren H.','Lauren H.'],['Becca','Becca']]   %>
  </p>
 
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>