<h2 class='User_Header'>New <%=@current_user.username%> Pick <h2>

<%= form_for :pick, url: picks_path do |f| %>
  
  <%= f.hidden_field :player, :value => @current_user.username %> 

  <%= f.hidden_field :week, :value => '10' %> 


  <p>
    <%= f.label "Rose" %><br>
    <%= f.select :rose, [['Lauren B.','Lauren B.'],['JoJo','JoJo']]  %>
  </p>

  <p>
    <%= f.label "Tears" %><br>
    <%= f.select :tears, [['Lauren B.','Lauren B.'],['JoJo','JoJo']]   %>
  </p>

  <p>
    <%= f.label "Next Bachelorette" %><br>
    <%= f.select :bachelorette, [['Lauren B.','Lauren B.'],['JoJo','JoJo']]   %>
  </p>

  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>