<%= form_for :pick, url: picks_path do |f| %>
  <p>
    <%= f.label "Your Name" %><br>
    <%= f.select :player, [['Meggie','Meggie'],['Dereth','Dereth'],['Katie Brogan Ozeck','Katie Brogan Ozeck'],['Marie','Marie'],['Lauren Goldman','Lauren Goldman'],['Christine','Christine'],['Sam','Sam'],['Brian Goldman','Brian Goldman'],['Stacey','Stacey'],['Leigh','Leigh'],['Annie','Annie'],['Jillian','Jillian'],['Andy','Andy'],['Devin','Devin'],['Sarah','Sarah'],['Marisa','Marisa'],['Andersen','Andersen'],['Kayt','Kayt'],['Megan','Megan'],['Peggy','Peggy']] %>
  </p>

  <p>
    <%= f.label "Week" %><br>
    <%= f.select :week, [['7','7']] %>
  </p>  

  <p>
    <%= f.label "Rose" %><br>
    <%= f.select :rose, [['Shawn B.','Shawn B.'],['Chris','Chris'],['Ben H.','Ben H.'],['J.J','J.J'],['Joe','Joe'],['Ben Z.','Ben Z.'],['Tanner','Tanner'],['Jared','Jared'], ['Nick','Nick']] %>
  </p>

  <p>
    <%= f.label "Tears" %><br>
    <%= f.select :tears, [['Shawn B.','Shawn B.'],['Chris','Chris'],['Ben H.','Ben H.'],['J.J','J.J'],['Joe','Joe'],['Ben Z.','Ben Z.'],['Tanner','Tanner'],['Jared','Jared'], ['Nick','Nick']] %>
  </p>
 
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>