<h2 class='User_Header'>New <%=@current_user.username%> view picks <h2>

<p>
  <strong>Player:</strong>
  <%= @pick.player %>
</p>
 
<p>
  <strong>Week:</strong>
  <%= @pick.week %>
</p>

<p>
  <strong>Rose:</strong>
  <%= @pick.rose %>
</p>

<p>
  <strong>Tears:</strong>
  <%= @pick.tears %>
</p>