<p>
  <strong>Player:</strong>
  <%= @pick.player %>
</p>
 
<p>
  <strong>Week:</strong>
  <%= @pick.week %>
</p>

<p>
  <strong>Rose:</strong>
  <%= @pick.rose %>
</p>

<p>
  <strong>Tears:</strong>
  <%= @pick.tears %>
</p>

<%= link_to 'View Picks', controller: 'picks' %>