<h2 class='User_Header'>New <%=@current_user.username%> Draft Pick <h2>


<%= form_for :draft, url: drafts_path do |f| %>

  <%= f.hidden_field :player, :value => @current_user.username %> 


  <p>
    <%= f.label "Round" %><br>
    <%= f.select :round, [['1', '1'],['2','2'],['3','3'],['4','4'],['Winner Pick','5']] %>
  </p>  

  <p>
    <%= f.label "Bachelor" %><br>
    <%= f.select :bachelor, [['Rachel'],['Vanessa'],['Danielle L.'],['Christen'],['Astrid'],['Corinne'],['Elizabeth'],['Jasmine G.'],['Raven'],['Kristina'],['Danielle M.'],['Sarah'],['Josephine'],['Lacey'],['Taylor'],['Alexis'],['Hailey'],['Whitney'],['Dominique'],['Jaimi'],['Brittany'],['Liz']] %>
  </p>
 
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>